.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 150px;
}

#ch-name {
	font-weight: bold;
}